<html>
    <head>
        <title> Test Template </title>
    </head>
    <body>
        <div>
            <h2> Hello {{name}} </h2> <hr />
            <span> Today is {{dayOfWeek}} </span>
        </div>
    </body>
</html>